@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url(#{$path}.woff2) format("woff2");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face('Montserrat', '@fonts/Montserrat-Bold', $fw-bold , 'normal');
@include font-face('Montserrat', '@fonts/Montserrat-ExtraBold', $fw-extraBold , 'normal');
@include font-face('Montserrat', '@fonts/Montserrat-Medium', $fw-medium , 'normal');
@include font-face('Montserrat', '@fonts/Montserrat-Regular', $fw-regular , 'normal');
@include font-face('Montserrat', '@fonts/Montserrat-SemiBold', $fw-semiBold , 'normal');