.certificates {
  margin-top: 140px;

  @media (max-width:920px) {
    margin-top: 60px;
  }

  @media (max-width:540px) {
    margin-top: 20px;
  }

  .container {
    position: relative;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 70px;

    @media (max-width:920px) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      text-align: center;
    }
  }

  &__left {
    width: 500px;
    position: relative;
    margin-right: 120px;
    z-index: 4;

    @media (max-width:1366px) {
      margin-right: 60px;
      width: 400px;
    }

    @media (max-width:1112px) {
      margin-right: 20px;
    }

    @media (max-width:920px) {
      margin-top: 40px;
      margin-right: 0;
    }

    @media (max-width:540px) {
      margin-top: 20px;
      width: 100%;
    }
  }

  &__right {
    z-index: 2;
    padding-top: 100px;

    @media (max-width:1366px) {
      padding-top: 60px;
    }

    @media (max-width:920px) {
      padding-top: 0;
    }

    &::after {
      content: '';
      background-color: $gray;
      width: 900px;
      height: 400px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      @media (max-width:1366px) {
        width: 700px;
        height: 360px;
      }

      @media (max-width:920px) {
        display: none;
      }
    }

    &::before {
      content: '';
      width: 180px;
      height: 180px;
      background-image: url('@assets/garant.png');
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: -80px;
      right: 80px;

      @media (max-width:1366px) {
        top: -60px;
        right: 40px;
        width: 140px;
        height: 140px;
      }

      @media (max-width:920px) {
        display: none;
      }
    }
  }


  &__slider {
    width: 90%;
    margin: 0 auto;
    position: relative;

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        width: 270px;
        height: 380px;

        @media (max-width:1366px) {
          width: 250px;
          height: 340px;
        }

        @media (max-width:540px) {
          width: 180px;
          height: 240px;
        }
      }

      h5 {
        padding-top: 24px;
        max-width: 80%;
        margin: 0 auto;
        line-height: 24px;
      }
    }
  }
}