.footer {
  padding: 80px 0 0 0;
  background-color: $blue;
  color: $white;

  @media (max-width:920px) {
    padding: 40px 0 0 0;
  }


  &__top {
    &-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
      padding-bottom: 40px;
      border-bottom: 1px solid darken($gray, 60);

      @media (max-width:920px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px 0;
        justify-items: center;
        grid-template-areas:
          "column1 column2 map"
          "column3 column4 map";
      }

      @media (max-width:630px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 260px;

        grid-template-areas:
          "column1 column2"
          "column3 column4"
          "map map";

        gap: 20px 0;
        padding-bottom: 0;
      }
    }

    &-map {
      width: 290px;
      height: 214px;

      @media (max-width:1112px) {
        width: 220px;
        height: 160px;
      }

      @media (max-width:920px) {
        grid-area: map;
      }

      @media (max-width:630px) {
        width: 320px;
        height: 240px;
      }

      @media (max-width:375px) {
        width: 280px;
        height: 220px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-column {
      max-width: 150px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;

      @media (max-width:920px) {

        &:nth-child(1) {
          grid-area: column1;
        }

        &:nth-child(2) {
          grid-area: column2;
        }

        &:nth-child(3) {
          grid-area: column3;
        }

        &:nth-child(4) {
          grid-area: column4;
        }
      }

      h3 {
        font-size: 18px;
        font-weight: $fw-bold;
        padding-bottom: 28px;
      }

      a {
        margin-bottom: 28px;
        font-size: 14px;

        &.number {
          font-size: 16px;
          font-weight: $fw-bold;
        }

        span {
          color: $red;
          border-bottom: 1px solid $red;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__bottom {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;


    @media (max-width:700px) {
      flex-direction: column;
      width: 100%;
    }


    &-left {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width:700px) {
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
      }


      >a {
        width: 58px;
        height: 48px;


        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      >span {
        margin-left: 44px;
        font-size: 14px;
        margin-right: 70px;

        @media (max-width:920px) {
          margin-left: 10px;
          margin-right: 10px;
        }
      }

      &-svg {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width:700px) {
          grid-column: span 12;
        }

        a {
          width: 26px;
          height: 26px;
          margin-right: 14px;

          @media (max-width:920px) {
            margin-right: 4px;
          }

          &:first-child {
            &:hover {
              svg {
                fill: rgb(23, 132, 204);
              }
            }
          }

          &:last-child {
            margin-right: 0;

            &:hover {
              svg {
                fill: $red;
              }
            }
          }

          svg {
            fill: $white;
            width: 100%;
            height: 100%;
            transition: $tr;
          }
        }
      }
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width:700px) {
        flex-direction: column;
        align-items: start;
        width: 100%;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1px;
        height: 100%;
        margin: 0 5px;

        @media (max-width:700px) {
          display: none;
        }
      }

      a {
        border-bottom: 1px solid $white;
        font-size: 14px;

        @media (max-width:920px) {
          font-size: 12px;
        }

        @media (max-width:700px) {
          margin-bottom: 10px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}